$darkGrayishBlue: #3E4056;
$white: #fff;
$gradient: linear-gradient(135deg, #FF974F 0%, #E32C75 100%);
$nameProf: #3E3F58;
$grey: #3E4056;
$dropMenu: #ECF1F8;
$bgDetails: #F2F2F2;
$red: #F05D63;
$circle: #B2B3BB;
$bgCheck: #ED5267;