@import "_colors";
@import "_fonts";

* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  color: $darkGrayishBlue;
}
a {
  text-decoration: none;
}
ul,
li {
  display: block;
  margin: 0;
  padding: 0;
}
.container {
  padding: 0 135px 346px 135px;
}
/*HEADER*/
.header {
  background: $white;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);
  height: 112px;
  position: relative;
}
.header_wrap {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  .header__block {
    display: flex;
    flex-direction: column;
    &_nav {
      margin-top: 25px;
      .menu {
        display: flex;
        &_item {
          position: relative;
          margin-right: 37px;
          & a {
            font-family: $OpenSans;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            color: $darkGrayishBlue;
          }
          & a:hover {
            mix-blend-mode: normal;
            opacity: 0.6;
            border-bottom: 4px solid transparent;
            border-image: $gradient;
            border-image-slice: 1;
            padding-bottom: 13px;
          }
        }
      }
    }
  }
  .header__profile {
    display: flex;
    &_name p {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      letter-spacing: -0.5px;
      color: $nameProf;
      margin: 5px 20px 0 0;
    }
    &_photo {
      display: flex;
      align-items: center;
      align-self: baseline;
      margin-right: 26px;
      .fa-angle-down {
        mix-blend-mode: normal;
        opacity: 0.4;
        transform: matrix(1, 0, 0, 1, 0, 0);
        margin-left: 12px;
      }
    }
    &_icons {
      margin-top: 8px;
      & i {
        margin-right: 17px;
      }
    }
  }
  .header__btn-add {
    position: absolute;
    bottom: -33px;
    right: 12%;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: $gradient;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .plus {
      font-size: 35px;
      color: $white;
    }
  }
}

/*USER-DETAILS*/
.user-details {
  background: $bgDetails;
  padding-top: 72px;
}
.user-details__all {
  display: flex;
  .details__block {
    width: 350px;
    .user {
      display: flex;
      justify-content: space-between;
      margin-bottom: 36px;
      width: 350px;
      &__name-block {
        display: flex;
        flex-direction: column;
        margin-left: 24px;
        position: relative;
        &_name {
          display: flex;
          justify-content: space-between;
          .user-name {
            font-family: $Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 26px;
            color: $nameProf;
          }
          .fa-ellipsis-v {
            cursor: pointer;
          }
          .user__dropdown_list {
            display: none;
            position: absolute;
            top: 40px;
            width: 176px;
            height: 124px;
            background: $white;
            mix-blend-mode: normal;
            opacity: 0.94;
            backdrop-filter: blur(21.7463px);
            border-radius: 8px;
            padding-top: 26px;
            .list-item {
              text-align: center;
              margin-bottom: 20px;
              a {
                font-family: $OpenSans;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                color: $darkGrayishBlue;
                i {
                  font-size: 22px;
                  margin-right: 23px;
                }
                .fa-edit {
                  margin-right: 10px;
                }
              }
            }
            .list-item:hover {
              padding: 10px 0;
              background: #ecf1f8;
              mix-blend-mode: normal;
              opacity: 0.6;
              backdrop-filter: blur(54.3656px);
            }
          }
          .dropdown.active .dropdownList {
            display: block;
          }
        }
      }
      &__name-block_nik p {
        font-family: $OpenSans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: -0.5px;
        color: $nameProf;
        margin: 8px 0 16px 0;
      }
      &__name-block_edit {
        .fa-pencil-alt {
          color: $red;
          font-size: 14px;
        }
        a {
          font-family: $OpenSans;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          text-decoration-line: underline;
          color: $red;
          margin-left: 12px;
        }
      }
    }
    .numbers {
      display: flex;
      width: 282px;
      justify-content: space-between;
      margin: auto;
      .numbers__block {
        .number {
          font-family: $OpenSans;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          text-align: center;
          color: $nameProf;
          margin-bottom: 15px;
        }
      }
    }
    .description {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: $nameProf;
      text-align: justify;
      margin-top: 23px;
    }
  }
  .details__block_privat {
    margin-left: 47px;
    .checkbox {
      display: flex;
      margin-bottom: 40px;
      .public,
      .private {
        font-family: $OpenSans;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #3e4056;
      }
      .checkbox {
        input {
          display: none;
        }
        input:checked + .box:after {
          left: 40px - 18px - 5px;
        }

        .box {
          width: 40px;
          height: 24px;
          background: $bgCheck;
          border: 1px solid $bgCheck;
          box-sizing: border-box;
          transform: matrix(-1, 0, 0, 1, 0, 0);
          margin: 0 30px;
          border-radius: 20px;
          &:after {
            content: "";
            position: absolute;
            top: 2px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background: $white;
            transform: matrix(-1, 0, 0, 1, 0, 0);
            cursor: pointer;
            margin: 0 2px;
          }
        }
      }
    }
    .news {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &__new {
        width: 320px;
        background: $white;
        border-radius: 8px;
        padding: 56px 24px 27px 24px;
        margin-bottom: 35px;
        &_title h1 {
          font-family: $Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 36px;
          line-height: 44px;
          color: $darkGrayishBlue;
          margin-bottom: 46px;
        }
        &_person {
          display: flex;
          justify-content: space-between;
          .person-name {
            display: flex;
            .circle {
              width: 24px;
              height: 24px;
              border-radius: 50%;
              background: $circle;
            }
            p {
              font-family: $OpenSans;
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              color: $darkGrayishBlue;
              margin-left: 8px;
              align-items: center;
              display: flex;
            }
          }
          .share p {
            font-family: $OpenSans;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            text-align: right;
            color: $red;
          }
          .triangle-heart {
            display: flex;
            .triangle,
            .heart {
              display: flex;
              i {
                margin-right: 8px;
              }
              p {
                font-family: $OpenSans;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                color: $darkGrayishBlue;
                margin-top: -2px;
              }
            }
            .triangle {
              margin-right: 16px;
              .fa-caret-right {
                font-size: 24px;
                color: $darkGrayishBlue;
                margin-top: -4px;
              }
            }
            .fa-heart {
              color: $red;
            }
          }
        }
        &_weblink {
          margin-bottom: 10px;
          p {
            font-family: $OpenSans;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            color: $darkGrayishBlue;
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
            .text-span {
              width: 238px;
              height: 22px;
              display: block;
              color: $darkGrayishBlue;
              border-radius: 3px;
              background: $circle;
              margin-left: 5px;
            }
            .fa-link {
              font-size: 16px;
              margin-right: 10px;
            }
          }
        }
      }
      .new-second {
        padding-top: 24px;
      }
    }
  }
}

@import "_media";
